@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(161, 127, 255);
    
}
.g-box{
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 0px 10px white;
}
.g-setting{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.gradiantDisplay{
    width: 100%;
    height: 260px;
    background: linear-gradient(to left top, #B5A6F7F9, #4040F3);
    margin-bottom: 20px;
    border-radius: 5px;
}
.angles{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
}
.colors input{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    
}
p{
    font-size: 20px;
    font-weight: 600;
    
}
.displayColorCode{
    width: 449px;
    height: 100px;
    resize: none;
    outline: none;
    margin-bottom: 20px;
    background-color: rgba(236, 238, 239, 0.471);
    font-size: 18px;
    padding:10px ;
}
.buttons{
    display: flex;
    justify-content: space-between;
    
}
button{
    width: 200px;
    height: 50px;
    background-color: rgb(148, 117, 244);
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
button:active{
    background-color: rgb(130, 92, 245);
    outline: 1px solid rgb(73, 2, 131);
}
